<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

    
  <div class="field">

    <% nombres= {'Ate' => 'Ate', 'Ancon' => 'Ancon', 'Barranco' => 'Barranco', 'Breña' => 'Breña', 'Carabayllo' => 'Carabayllo', 'Cercado de Lima' => 'Cercado de Lima', 'Chorrillos' => 'Chorrillos', 'Surco' => 'Surco' , 'Cieneguilla' => 'Cieneguilla' , 'Comas' => 'Comas' , 'el Agustino' => 'el Agustino' , 'Independencia' => 'Independencia' , 'la Molina' => 'la Molina' , 'la Victoria' => 'La Victoria' , 'rimac' => 'rimac', 'San Borja' => 'san Borja', 'san Luis' => 'san Luis', 'santa Anita' => 'Santa Anita', 
} %>
        <% lista = nombres.sort %>
       <%= f.label :Distrito  %> <br />

        <%= f.select :district, lista %>


     </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


