<h1>Lista de Locales</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Distrito</th>
    <th>telefonos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    


<% @sites.each do |site| %>
  <tr>
   
    <td><%= site.name %></td>
    <td><%= site.address %></td>
    <td><%= site.district %></td>
     <td><%= site.phone %></td>
    <td><%= link_to 'Mostrar', site %></td>
    <td><%= link_to 'Editar', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Local', new_site_path %>

