<p id="notice"><%= notice %></p>


<p>
  <b>Nombre:</b>
  <%= @site.name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @site.address %>
</p>

<p>
  <b>Distritos:</b>
  <%= @site.district %>
</p>

<p>
  <b>Mapas:</b>
  <%= @site.map %>
</p>

<p>
  <b>Telefono:</b>
  <%= @site.phone %>
</p>
<%= gmaps4rails(@json) %>

<%= link_to 'Editar', edit_site_path(@site) %> |
<%= link_to 'Volver', sites_path %>
