<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="joomla, Joomla" />
	<meta name="description" content="Joomla! - the dynamic portal engine and content management system" />
	<meta name="generator" content="Joomla! 1.5 - Open Source Content Management" />
	<title>Conciertos UPC</title>

	<link rel="stylesheet" href="/css/template.css" type="text/css" />
	<link rel="stylesheet" href="/css/bluedarkgrey.css" type="text/css" />
	<script language="javascript" type="text/javascript" src="/js/mootools.js"></script>
	<script language="javascript" type="text/javascript" src="/js/moomenu.js"></script>


	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'gmaps4rails' %>



</head>
<body id="page_bg">
<a name="up" id="up"></a>

	
<div id="top_menu">
<div id="topnav">
<ul class="menuhor">
	<li>
		<a href="#"  id="menu27">
			<span>Seguridad</span></a>
		<ul>
			<li><a href="/usuarios" class="first-item" id="menu34" ><span>Usuarios</span></a></li>
			<li><a href="/roles" class="first-item" id="menu34" ><span>Roles</span></a></li>
		</ul>
	</li>
	<li>
		<a href="#"  id="menu27">
			<span>Tablas maestras</span></a>
		<ul>
			<li><a href="/utypes" class="first-item" id="menu34" ><span>Tipos de Usuario</span></a></li>
			<li><a href="/dtypes" class="first-item" id="menu34" ><span>Tipos de Documento</span></a></li>
			<li><a href="/sites" class="first-item" id="menu34" ><span>Locales</span></a></li>
		</ul>
	</li>
	<li><a href="/bands"  id="menu2" ><span>Bandas</span></a></li>
	<li><a href="/name_concerts"  id="menu37" ><span>Conciertos</span></a></li>
	<li><a href="/goconcerts"  id="menu37" ><span>Asistentes</span></a></li>
	<li><a href="http://www.twitter.com" class="active first-item" id="menu1" ><span>Twitter</span></a></li>
</ul>
</div>
</div>
<div class="ic"></div>
<div id="main_bg" class="banner1">
    <div id="h_area"><img src="images/logo3.gif" alt="forex trading logo" align="left" />
    	<a href="#" class="logo" title="Disfruta los Eventos">CONCIERTOS UPC</a>
    <div id="user4">
    	<form action="index.php" method="post">
			<div class="search">
			<input name="searchword" id="mod_search_searchword" maxlength="20" alt="Search" class="inputbox" type="text" size="20" value="search..."  onblur="if(this.value=='') this.value='search...';" onfocus="if(this.value=='search...') this.value='';" />
			</div>
			<input type="hidden" name="task"   value="search" />
			<input type="hidden" name="option" value="com_search" />
		</form></div>    <!--<div id="main_top">

<table class="contentpaneopen">
	<tr>
		<td valign="top" colspan="2">Yesterday all servers in the U.S. went out on strike in a bid to get more RAM and better CPUs. A spokes person said that the need for better RAM was due to some fool increasing the front-side bus speed. In future, buses will be told to slow down in residential motherboards.</td>
	</tr>
</table>
</div>-->
    <br clear="all" />
	</div> 
	<div id="leftcolumn">
        <div class="module_menu">
			<div>
				<div>
					<div>
						<h3>UPC</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="module_menu">
			<div>
				<div>
					<div>
						<h3>Proyecto DEW</h3>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div id="user_nav">

		<a href="#" class="logo" </a>
		  <%= link_to "Sign in con Twitter", "/auth/twitter" %>
		</div>


			<div class="module">
			<div>
				<div>
					<div>
						<h3>Ingreso</h3>
						<form action="/joomla/15/41/index.php" method="post" name="login" id="form-login" >

		<fieldset class="input">
			<p id="form-login-username">
				<label for="modlgn_username">Usuario</label><br />
				<input id="modlgn_username" type="text" name="username" class="inputbox" alt="username" size="18" />
			</p>
			<p id="form-login-password">
				<label for="modlgn_passwd">Contraseña</label><br />
				<input id="modlgn_passwd" type="password" name="passwd" class="inputbox" size="18" alt="password" />
			</p>
			<p id="form-login-remember">
				<label for="modlgn_remember">Recordandome</label>
				<input id="modlgn_remember" type="checkbox" name="remember" class="inputbox" value="yes" alt="Recordarme" />
			</p>
			<input type="submit" name="Submit" class="button" value="Login" />
		</fieldset>
	<ul>
		<li>
			<a href="/joomla/15/41/index.php?option=com_user&amp;view=reset">Recuperar Password?</a>
		</li>
		<li>
			<a href="/joomla/15/41/index.php?option=com_user&amp;view=remind">¿No Recuerdas tu uruario?</a>
		</li>
		<li>
			<a href="/joomla/15/41/index.php?option=com_user&amp;task=register">Crear Cuenta</a>
		</li>
	</ul>
	
	<input type="hidden" name="option" value="com_user" />
	<input type="hidden" name="task" value="login" />
	<input type="hidden" name="return" value="aHR0cDovL3d3dy5nZXRqb29tbGF0ZW1wbGF0ZXNmcmVlLmNvbS9qb29tbGEvMTUvNDEvP3RlbXBsYXRlPUZyZWUtRGlzY28tQmVhdC1Kb29tbGEtMS01LXRlbXBsYXRl" />
	<input type="hidden" name="b9615028a4d987592d2f7c6b21091a94" value="1" /></form>
					</div>
				</div>
			</div>
		</div>

	
	
	</div>
    <div id="maincolumn">
	<div class="nopad">


		<%= yield %>


	</div>
	</div>
    <div id="rightcolumn">
        		<div class="moduletable">
					<h3>Bandas</h3>
					<form action="index.php" method="post" name="form2">

<table width="95%" border="0" cellspacing="0" cellpadding="1" align="center" class="poll">
<thead>
	<tr>
		<td style="font-weight: bold;">
			A cual Eligirias?		</td>
	</tr>
</thead>
	<tr>
		<td align="center">


			<table class="pollstableborder" cellspacing="0" cellpadding="0" border="0">
				<% @bands.each do |band| %>
				<tr>
					<td class="sectiontableentry2" valign="top">
						<input type="radio" name="voteid" id="voteid1" value="1" alt="1" />
					</td>
					<td class="sectiontableentry2" valign="top">
						<label for="voteid1">&nbsp;&nbsp;<%= band.name %></label>
					</td>
				</tr>
				<% end %>
			</table>


			<!--
			<table class="pollstableborder" cellspacing="0" cellpadding="0" border="0">
							<tr>
					<td class="sectiontableentry2" valign="top">
						<input type="radio" name="voteid" id="voteid1" value="1" alt="1" />
					</td>
					<td class="sectiontableentry2" valign="top">
						<label for="voteid1">
							Libido						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry1" valign="top">
						<input type="radio" name="voteid" id="voteid2" value="2" alt="2" />
					</td>
					<td class="sectiontableentry1" valign="top">
						<label for="voteid2">
							Mar de Copas						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry2" valign="top">
						<input type="radio" name="voteid" id="voteid3" value="3" alt="3" />
					</td>
					<td class="sectiontableentry2" valign="top">
						<label for="voteid3">
							Amen						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry1" valign="top">
						<input type="radio" name="voteid" id="voteid4" value="4" alt="4" />
					</td>
					<td class="sectiontableentry1" valign="top">
						<label for="voteid4">
							Elefante						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry2" valign="top">
						<input type="radio" name="voteid" id="voteid5" value="5" alt="5" />
					</td>
					<td class="sectiontableentry2" valign="top">
						<label for="voteid5">
							TK						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry1" valign="top">
						<input type="radio" name="voteid" id="voteid6" value="6" alt="6" />
					</td>
					<td class="sectiontableentry1" valign="top">
						<label for="voteid6">
							El TRI						</label>
					</td>
				</tr>
											<tr>
					<td class="sectiontableentry2" valign="top">
						<input type="radio" name="voteid" id="voteid7" value="7" alt="7" />
					</td>
					<td class="sectiontableentry2" valign="top">
						<label for="voteid7">
									Cold Play				</label>
					</td>
				</tr>
			</table>
			-->
		</td>
	</tr>
	<tr>
		<td>
			<div align="center">
				<input type="submit" name="task_button" class="button" value="Vote" />
				&nbsp;
				<input type="button" name="option" class="button" value="Results" onclick="document.location.href='/joomla/15/41/index.php?option=com_poll&amp;id=14:joomla-is-used-for'" />
			</div>
		</td>
	</tr>
</table>

	<input type="hidden" name="option" value="com_poll" />
	<input type="hidden" name="task" value="vote" />
	<input type="hidden" name="id" value="14" />
	<input type="hidden" name="b9615028a4d987592d2f7c6b21091a94" value="1" />
	</form>
	</div>
	<div class="moduletable">
		<h3>UPC</h3>
	</div>
	<br />
        <!--
    	<div align="center">
    		<a href="/joomla/15/41/index.php?format=feed&amp;type=rss">
				<img src="/joomla/15/41/images/M_images/livemarks.png" alt=""  /> 
				<span>Feed Entries</span>
			</a>
		</div>
		-->
    </div>
    	<br clear="all" />
</div>    
    

























<p id="power_by" align="center">
	Si se Puede! <a href="http://www.google">DEW!</a>.
    UPC</a>.
</p>

</body>
<%= yield :scripts %>

</html>
