<%= form_for(@goconcert) do |f| %>
  <% if @goconcert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goconcert.errors.count, "error") %> prohibited this goconcert from being saved:</h2>

      <ul>
      <% @goconcert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.collection_select :usuario_id, Usuario.all, :id, :name, :prompt => true %>
    
  </div>
  <div class="field">
    <%= f.label :name_concert %><br />
     <%= f.collection_select :name_concert_id, NameConcert.all, :id, :name, :prompt => true %>
  
   
  </div>
  <div class="actions">
    <%= f.submit :Asistir %>
  </div>
<% end %>
