<h1>Lista de asistencias</h1>

<table>
  <tr>
    <th>Datos</th>
    <th>Usuario</th>
    <th>Concierto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goconcerts.each do |goconcert| %>
  <tr>
    <td><%= goconcert.data %></td>
    <td><%= goconcert.usuario.name %></td>
    <td><%= goconcert.name_concert.name %></td>
    <td><%= link_to 'Volver', goconcert %></td>
    <td><%= link_to 'Editar', edit_goconcert_path(goconcert) %></td>
    <td><%= link_to 'Destroy', goconcert, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Eligir Concierto', new_goconcert_path %>
