<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>Dtype:</b>
  <%= @user.dtype_id %>
</p>

<p>
  <b>Utype:</b>
  <%= @user.utype_id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Apaterno:</b>
  <%= @user.apaterno %>
</p>

<p>
  <b>Amaterno:</b>
  <%= @user.amaterno %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Doc identity:</b>
  <%= @user.doc_identity %>
</p>

<p>
  <b>Num identity:</b>
  <%= @user.num_identity %>
</p>

<p>
  <b>Mail1:</b>
  <%= @user.mail1 %>
</p>

<p>
  <b>Mail2:</b>
  <%= @user.mail2 %>
</p>

<p>
  <b>String:</b>
  <%= @user.string %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
