<h1>Lista de tipos de usuario</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Descripci&oacute;n</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @utypes.each do |utype| %>
  <tr>
    <td><%= utype.id %></td>
    <td><%= utype.tdu %></td>
    <td><%= link_to 'Ver', utype %></td>
    <td><%= link_to 'Editar', edit_utype_path(utype) %></td>
    <td><%= link_to 'Eliminar', utype, method: :delete, data: { confirm: 'Estas seguro de eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_utype_path %>
