<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @utype.id %>
</p>

<p>
  <b>Tdu:</b>
  <%= @utype.tdu %>
</p>


<%= link_to 'Edit', edit_utype_path(@utype) %> |
<%= link_to 'Back', utypes_path %>
