<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @utype.id %>
</p>

<p>
  <b>Descripci&oacute;n:</b>
  <%= @utype.tdu %>
</p>


<%= link_to 'Editar', edit_utype_path(@utype) %> |
<%= link_to 'Atras', utypes_path %>
