<p id="notice"><%= notice %></p>

<p>
  <b>Tur:</b>
  <%= @user_role.tur_id %>
</p>

<p>
  <b>Rol:</b>
  <%= @user_role.rol_id %>
</p>


<%= link_to 'Edit', edit_user_role_path(@user_role) %> |
<%= link_to 'Back', user_roles_path %>
