<%= form_for(@name_concert) do |f| %>
  <% if @name_concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name_concert.errors.count, "error") %> prohibited this name_concert from being saved:</h2>

      <ul>
      <% @name_concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :Lugar %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :bandas %><br />
    <%= f.text_field :band %>


  <div class="field">
    <%= f.label :persona %><br />
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :Inicio %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :Final %><br />
    <%= f.datetime_select :final_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
