  <% if @name_concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name_concert.errors.count, "error") %> prohibited this name_concert from being saved:</h2>

      <ul>
      <% @name_concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Distrito %><br />
    <%= f.collection_select :site_id, Site.all, :id, :district, :prompt => true %>
  </div>

      
  
  <div class="actions">
    <%= f.submit :Grabar %>
  </div>
<% end %>
