<h1>Listado de conciertos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
    <th>Local</th>
    <th>Banda</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @name_concerts.each do |name_concert| %>
  <tr>
    <td><%= name_concert.name %></td>
    <td><%= name_concert.start_date %></td>
    <td><%= name_concert.end_date %></td>
    <td><%= name_concert.site.name %></td>
    <td><%= name_concert.band.name %></td>
    <td><%= name_concert.usuario.name %></td>
    <td><%= link_to 'Ver', name_concert %></td>
    <td><%= link_to 'Editar', edit_name_concert_path(name_concert) %></td>
    <td><%= link_to 'Eliminar', name_concert, method: :delete, data: { confirm: 'Eliminar concierto?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_name_concert_path %>
