<h1>Listing name_concerts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Site</th>
    <th>Band</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @name_concerts.each do |name_concert| %>
  <tr>
    <td><%= name_concert.name %></td>
    <td><%= name_concert.start_date %></td>
    <td><%= name_concert.end_date %></td>
    <td><%= name_concert.site %></td>
    <td><%= name_concert.band %></td>
    <td><%= name_concert.usuario %></td>
    <td><%= link_to 'Show', name_concert %></td>
    <td><%= link_to 'Edit', edit_name_concert_path(name_concert) %></td>
    <td><%= link_to 'Destroy', name_concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Name concert', new_name_concert_path %>
