<h1>Lista de Conciertos</h1>

<table>
  <tr>
    <th>LUGAR</th>
    <th>BANDA</th>
    <th>USUARIO</th>
    <th>INICIO</th>
    <th>FINAL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @name_concerts.each do |name_concert| %>
  <tr>
    <td><%= name_concert.concert_id %></td>
    <td><%= name_concert.place %></td>
    <td><%= name_concert.band %></td>
    <td><%= name_concert.person %></td>
    <td><%= name_concert.start_date %></td>
    <td><%= name_concert.final_date %></td>
    <td><%= link_to 'Mostrar', name_concert %></td>
    <td><%= link_to 'Editar', edit_name_concert_path(name_concert) %></td>
    <td><%= link_to 'Eliminar', name_concert, method: :delete, data: { confirm: 'Estas Seuro! Che?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_concert', new_name_concert_path %>
