<p id="notice"><%= notice %></p>



<p>
  <b>LUGAR:</b>
  <%= @name_concert.place %>
</p>

<p>
  <b>BANDA:</b>
  <%= @name_concert.band %>
</p>

<p>
  <b>USUARIO:</b>
  <%= @name_concert.person %>
</p>

<p>
  <b>INICIO:</b>
  <%= @name_concert.start_date %>
</p>

<p>
  <b>FINAL:</b>
  <%= @name_concert.final_date %>
</p>


<%= link_to 'Editar', edit_name_concert_path(@name_concert) %> |
<%= link_to 'Volver', name_concerts_path %>
