<p id="notice"><%= notice %></p>



<p>
  <b>Place:</b>
  <%= @name_concert.place %>
</p>

<p>
  <b>Band:</b>
  <%= @name_concert.band %>
</p>

<p>
  <b>Person:</b>
  <%= @name_concert.person %>
</p>

<p>
  <b>Start date:</b>
  <%= @name_concert.start_date %>
</p>

<p>
  <b>Final date:</b>
  <%= @name_concert.final_date %>
</p>


<%= link_to 'Edit', edit_name_concert_path(@name_concert) %> |
<%= link_to 'Back', name_concerts_path %>
