<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @name_concert.name %>
</p>

<p>
  <b>Site:</b>
  <%= @name_concert.site %>
</p>

<p>
  <b>Band:</b>
  <%= @name_concert.band %>
</p>

<p>
  <b>Usuario:</b>
  <%= @name_concert.usuario %>
</p>


<%= link_to 'Edit', edit_name_concert_path(@name_concert) %> |
<%= link_to 'Back', name_concerts_path %>
