<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @name_concert.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @name_concert.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @name_concert.end_date %>
</p>

<p>
  <b>Site:</b>
  <%= @name_concert.site.name %>
</p>

<p>
  <b>Band:</b>
  <%= @name_concert.band.name %>
</p>

<p>
  <b>Usuario:</b>
  <%= @name_concert.usuario.name %>
</p>


<%= link_to 'Edit', edit_name_concert_path(@name_concert) %> |
<%= link_to 'Back', name_concerts_path %>
