<h1>Lista de tipos de usuario</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Fecha de inicio</th>
    <th>Correo</th>
    <th>Clave</th>
    <th>Rol defecto</th>
    <th>Tur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_users.each do |type_user| %>
  <tr>
    <td><%= type_user.nombre %></td>
    <td><%= type_user.finicio %></td>
    <td><%= type_user.correo %></td>
    <td><%= type_user.clave %></td>
    <td><%= type_user.rol_defecto %></td>
    <td><%= type_user.tur_id %></td>
    <td><%= link_to 'Show', type_user %></td>
    <td><%= link_to 'Edit', edit_type_user_path(type_user) %></td>
    <td><%= link_to 'Destroy', type_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type user', new_type_user_path %>
