<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @type_user.nombre %>
</p>

<p>
  <b>Finicio:</b>
  <%= @type_user.finicio %>
</p>

<p>
  <b>Correo:</b>
  <%= @type_user.correo %>
</p>

<p>
  <b>Clave:</b>
  <%= @type_user.clave %>
</p>

<p>
  <b>Rol defecto:</b>
  <%= @type_user.rol_defecto %>
</p>

<p>
  <b>Tur:</b>
  <%= @type_user.tur_id %>
</p>


<%= link_to 'Edit', edit_type_user_path(@type_user) %> |
<%= link_to 'Back', type_users_path %>
