<h1>Listing users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Dtype</th>
    <th>Utype</th>
    <th>Name</th>
    <th>Apaterno</th>
    <th>Amaterno</th>
    <th>Gender</th>
    <th>Doc identity</th>
    <th>Num identity</th>
    <th>Mail1</th>
    <th>Mail2</th>
    <th>String</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_id %></td>
    <td><%= user.dtype_id %></td>
    <td><%= user.utype_id %></td>
    <td><%= user.name %></td>
    <td><%= user.apaterno %></td>
    <td><%= user.amaterno %></td>
    <td><%= user.gender %></td>
    <td><%= user.doc_identity %></td>
    <td><%= user.num_identity %></td>
    <td><%= user.mail1 %></td>
    <td><%= user.mail2 %></td>
    <td><%= user.string %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
