<p id="notice"><%= notice %></p>

<p>
  <b>Rol:</b>
  <%= @role.rol_id %>
</p>

<p>
  <b>Rol:</b>
  <%= @role.rol %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
