<p id="notice"><%= notice %></p>

<p>
  <b>V:</b>
  <%= @viewer.v_id %>
</p>

<p>
  <b>Concert:</b>
  <%= @viewer.concert_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @viewer.integer %>
</p>

<p>
  <b>User:</b>
  <%= @viewer.user_id %>
</p>

<p>
  <b>Integer:</b>
  <%= @viewer.integer %>
</p>


<%= link_to 'Edit', edit_viewer_path(@viewer) %> |
<%= link_to 'Back', viewers_path %>
