<h1>Lista de tipos de documento</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Descripci&oacute;n</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dtypes.each do |dtype| %>
  <tr>
    <td><%= dtype.id %></td>
    <td><%= dtype.tdd %></td>
    <td><%= link_to 'Ver', dtype %></td>
    <td><%= link_to 'Editar', edit_dtype_path(dtype) %></td>
    <td><%= link_to 'Eliminar', dtype, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo', new_dtype_path %>
