<h1>Listing dtypes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Tdd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dtypes.each do |dtype| %>
  <tr>
    <td><%= dtype.id %></td>
    <td><%= dtype.tdd %></td>
    <td><%= link_to 'Show', dtype %></td>
    <td><%= link_to 'Edit', edit_dtype_path(dtype) %></td>
    <td><%= link_to 'Destroy', dtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dtype', new_dtype_path %>
