<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @dtype.id %>
</p>

<p>
  <b>Descripci&oacute;n:</b>
  <%= @dtype.tdd %>
</p>


<%= link_to 'Editar', edit_dtype_path(@dtype) %> |
<%= link_to 'Atras', dtypes_path %>
