<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Member:</b>
  <%= @band.member %>
</p>

<p>
  <b>Style:</b>
  <%= @band.style %>
</p>

<table>
  <tr>
  	<td colspan="2">
      Usuarios de la banda
  	</td>
  </tr>
  <% @band.usuarios.each do |usuario| %>
  <tr>
  	<td>&nbsp;</td>
  	<td>
      <%= usuario.name %>
  	</td>
  </tr>
  <% end %>

</table>


<%= link_to 'Add_usuario', add_usuario_band_path(@band) %> |
<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
