<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @band.name %>
</p>
<!--
<p>
  <b>Member:</b>
  <%= @band.usuario.name %>
</p>
-->
<p>
  <b>Genero:</b>
  <%= @band.style %>
</p>

<p>
  <b>Miembros de la banda:</b><br/>
    <% @band.usuarios.each do |usuario| %>
      -&nbsp;<%= usuario.name %><br/>
    <% end %>
</p>


<%= link_to 'Agregar Miembro', add_usuario_band_path(@band) %> |
<%= link_to 'Editar', edit_band_path(@band) %> |
<%= link_to 'Volver', bands_path %>
