<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
<div class="field">
    <%= f.label :Tipo_de_Usuarios %><br />
    <%= f.collection_select :utype_id, Utype.all, :id, :tdu, :prompt => true %>
  </div>



  <div class="field">
    <%= f.label :Apellido_Paterno %><br />
    <%= f.text_field :apaterno %>
  </div>
  <div class="field">
    <%= f.label :Apellido_Materno %><br />
    <%= f.text_field :amaterno %>
  </div>
   
   <div class="field">
    <%= genders = {"Femenino" => "F", "Masculino" => "M"} %>
      <fieldset>
        <%= lista = genders.sort  %>
        <%= lista.each do |gender | %>
        <%= f.radio_button :gender, gender[1] %>
        <label for="<%= gender[1] %>"><%=gender[0] %></label>
     <% end %>
      </fieldset>
   </div>

  

  <div class="field">
    <%= f.label :Tipo_de_Documento %><br />
    <%= f.collection_select :dtype_id, Dtype.all, :id, :tdd, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :Nro_de_Documento_de_Identidad %><br />
    <%= f.text_field :num_identity %>
  </div>
  <div class="field">
    <%= f.label :Mail %><br />
    <%= f.text_field :mail1 %>
  </div>
  <div class="field">
    <%= f.label :Confirmar_mail %><br />
    <%= f.text_field :mail2 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
