<h1>Listing name_concerts</h1>

<table>
  <tr>
    <th>Place</th>
    <th>Band</th>
    <th>Person</th>
    <th>Start date</th>
    <th>Final date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @name_concerts.each do |name_concert| %>
  <tr>
    <td><%= name_concert.concert_id %></td>
    <td><%= name_concert.place %></td>
    <td><%= name_concert.band %></td>
    <td><%= name_concert.person %></td>
    <td><%= name_concert.start_date %></td>
    <td><%= name_concert.final_date %></td>
    <td><%= link_to 'Show', name_concert %></td>
    <td><%= link_to 'Edit', edit_name_concert_path(name_concert) %></td>
    <td><%= link_to 'Destroy', name_concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Name concert', new_name_concert_path %>
